<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/8.5/phpunit.xsd"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         bootstrap="tests/bootstrap.php"
         cacheResultFile="/tmp/.xiag.phpunit.result.cache"
>
    <testsuites>
        <testsuite name="">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>

    <groups>
        <exclude>
            <group>ignore</group>
        </exclude>
    </groups>
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>
</phpunit>
